<h2 class="d-flex justify-content-center text-dark mt-5">Зв&apos;язатися з нами</h2>
<div class="form mb-5">
<%= form_for :users, url: users_path do |f| %>
    <p>
    I&apos;мя <br>
     <%= f.text_field(:name, {:class=> 'form-control'}) %>
    </p>
    <p>
    Номер телефона<br>
     <%= f.text_field(:phone, {:class=> 'form-control'}) %>
    </p>
    <p>
    
     <%= f.submit('Зберегти',{:class=> 'btn btn-success'}) %>
    </p>
<% end %>
</div>
<h3 class="d-flex justify-content-center text-dark">Наше мiсцезнаходження</h3>
<div id="map"></div>
