<div class="d-flex justify-content-center align-items-center flex-column user lh-3">
<h1><%= @user.name %></h1>
<p><%= @user.phone %></p>
<a class="nav-link" href="/" >Перейти на главную страницу</a>
</div>