body{
    color: #a1a1a1;
font-size: 15px;
line-height: 28px;
}
.adr{
    width: 100%;
    min-height: 400px;
    height: 50%;
    background-color: aqua;
    color: #fff;
    visibility: hidden;
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    margin: 0 auto;
}



.adr.is-open{
    visibility: visible;
}

/*menu*/
.description{
    min-height: 150px;
    height: 100%;
}
.name{
    color: #8ae53a; 
    font-weight: 700;
    font-size: 17px;
}
.weight{
    color: #797878;
}
.price{
    color: #8ae53a; 
    font-weight: 700;
    font-size: 17px;
}

.buttons{
    background-color: #8ae53a; 
    border-radius: 50%;
    color: #fff;
    transition: all 0.3s linear;
    &:hover{
        color: #8ae53a;
     background-color: #fff;
     border: solid 1px #8ae53a;
     }
}

/*Modal*/

.btn-cart{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 150px;
    height: 50px;
    z-index: 10;
    background-color: #8ae53a;
    color: #fff;
    border: none;
    transition: all 0.3s linear;
    &:hover{
       color: #8ae53a;
    background-color: #fff;
    }
}

/*institutions*/
.btn-menu{
    width: 100%;
    background-color: #8ae53a;
    color: #fff;
    &::after{
        content: "\2192";
    }
}

.title{
    color: rgb(43, 42, 42);
    font-weight: 700;
    font-size: 19px;
}